Repository CSHS-CWRA/RavenPy, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.

# Uncomment the following lines to enable the labeler (requires labels with the same name to exist in the repository)

# label 'ci' all automation-related steps and files
'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.pre-commit-config.yaml'
      - '.readthedocs.yml'
      - '.yamllint.yml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'tox.ini'
      - 'CI/**/*'
      - 'Makefile'
# label 'docs' all documentation-related steps and files
'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - '.zenodo.json'
      - 'docs/**/*'
      - 'environment-docs.yml'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'CODE_OF_CONDUCT.md'
      - 'DISCUSSION_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'

fix CI
  .github/workflows/main.yml
Labels: CI

Add setuptools to build requirements
  CHANGELOG.rst
  pyproject.toml
  tox.ini
Labels: CI

fix scorecard trigger
  .github/workflows/scorecard.yml
Labels: CI

fix CHANGELOG.rst, add contact info
  CHANGELOG.rst
  CODE_OF_CONDUCT.md
Labels: docs

remove platform identifiers
  tox.ini
Labels: CI

remove platform identifiers
  tox.ini
Labels: CI

Update routing_product.py
  src/ravenpy/extractors/routing_product.py
Labels: none

Update routing_product.py
  src/ravenpy/extractors/routing_product.py
Labels: none

Apply suggestions from code review
  src/ravenpy/extractors/routing_product.py
Labels: none

Updated the change log, added contributor information and included tests
  .zenodo.json
  AUTHORS.rst
  CHANGELOG.rst
  tests/test_extractor.py
Labels: docs

Update .zenodo.json
  .zenodo.json
Labels: docs

Update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

update notebooks to work with changes to dask chunking
  docs/notebooks/08_Getting_and_bias_correcting_CMIP6_data.ipynb
  docs/notebooks/paper/Perform_a_climate_change_impact_study_on_a_watershed.ipynb
Labels: docs

HBV-EC emulator improvements
  CHANGELOG.rst
  src/ravenpy/config/emulators/hbvec.py
Labels: none

Update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

update notebook to adapt to new RavenHydroFramework conventions
  docs/notebooks/10_Data_assimilation.ipynb
Labels: docs

add svg converter
  docs/conf.py
  environment-rtd.yml
  pyproject.toml
Labels: docs

add cairosvg
  environment-rtd.yml
  pyproject.toml
Labels: none

try enabling latex element
  docs/conf.py
Labels: docs

update description, bump python version
  docs/conf.py
  environment-rtd.yml
Labels: docs

try making the badge table only render for HTML
  README.rst
  docs/Makefile
Labels: CI, docs

try another approach
  README.rst
Labels: docs

Add a workaround
  README.rst
  docs/conf.py
  docs/readme.rst
Labels: docs

add readme.rst to .gitignore
  .gitignore
  docs/conf.py
  docs/readme.rst
Labels: docs

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

HBVEC emulator improvement
  CHANGELOG.rst
  src/ravenpy/config/emulators/hbvec.py
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

Bump version: 0.15.1-dev.4 → 0.16.0-dev.0
  .cruft.json
  pyproject.toml
  src/ravenpy/__init__.py
  tests/test_ravenpy.py
Labels: none

Bump version: 0.16.0-dev.0 → 0.16.0
  .cruft.json
  pyproject.toml
  src/ravenpy/__init__.py
  tests/test_ravenpy.py
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

Minor reformatting and changes to the HBVEC emulator
  src/ravenpy/config/emulators/hbvec.py
  src/ravenpy/config/rvs.py
Labels: none

Update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

fix logging message level
  src/ravenpy/config/commands.py
Labels: none

update tox configuration
  .github/workflows/main.yml
  src/ravenpy/config/rvs.py
  tox.ini
Labels: CI

synchronize/pin dependencies
  environment-dev.yml
  environment-rtd.yml
  pyproject.toml
Labels: none

fix tox logic
  .github/workflows/main.yml
Labels: CI

Fix issue #418. Unpin pymbolic. Resolve pydantic deprecation warnings
  docs/configuration.md
  environment-dev.yml
  pyproject.toml
  src/ravenpy/config/base.py
  src/ravenpy/config/rvs.py
  tests/test_rvs.py
Labels: docs

drop support for 3.9. Update Changelog
  .github/workflows/main.yml
  CHANGELOG.rst
  pyproject.toml
  src/ravenpy/config/utils.py
  tox.ini
Labels: CI

Update src/ravenpy/config/base.py
  src/ravenpy/config/base.py
Labels: none

remove other 3.9 mentions
  .pre-commit-config.yaml
  pyproject.toml
Labels: CI
