Repository CSHS-CWRA/RavenPy, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs

assert figure
  tests/test_graphs.py
Labels: none

undo gdal set changes
  .github/workflows/main.yml
Labels: CI

mark failures under newest GDAL version
  tests/test_geo_utilities.py
Labels: none

strict=False
  tests/test_geo_utilities.py
Labels: none

Add parse_rv to extract command value from RV file. Use this to get the RunName in `run` function to fix the overwrite logic.
  CHANGELOG.rst
  src/ravenpy/config/parsers.py
  src/ravenpy/ravenpy.py
  tests/conftest.py
  tests/test_emulators.py
Labels: none

Update tests/conftest.py
  tests/conftest.py
Labels: none

adopt new test data management system, name helper function yangtze, reformatting, ignore RST210
  .flake8
  src/ravenpy/testing/__init__.py
  src/ravenpy/testing/helpers.py
  src/ravenpy/testing/utils.py
  src/ravenpy/utilities/publishing.py
  src/ravenpy/utilities/testdata.py
Labels: CI

add testing data registry, move common testing functions to testing.helpers
  src/ravenpy/testing/helpers.py
  src/ravenpy/testing/registry.txt
  tests/common.py
Labels: none

update notebook testdata fetching mechanism
  docs/notebooks/02_Extract_geographical_watershed_properties.ipynb
  docs/notebooks/03_Extracting_forcing_data.ipynb
  docs/notebooks/04_Emulating_hydrological_models.ipynb
  docs/notebooks/05_Advanced_RavenPy_configuration.ipynb
  docs/notebooks/06_Raven_calibration.ipynb
  docs/notebooks/07_Making_and_using_hotstart_files.ipynb
  docs/notebooks/08_Getting_and_bias_correcting_CMIP6_data.ipynb
  docs/notebooks/09_Hydrological_impacts_of_climate_change.ipynb
  docs/notebooks/10_Data_assimilation.ipynb
  docs/notebooks/11_Climatological_ESP_forecasting.ipynb
  docs/notebooks/12_Performing_hindcasting_experiments.ipynb
  docs/notebooks/Assess_probabilistic_flood_risk.ipynb
  docs/notebooks/Comparing_hindcasts_and_ESP_forecasts.ipynb
  docs/notebooks/Distributed_hydrological_modelling.ipynb
  docs/notebooks/Hydrological_realtime_forecasting.ipynb
  docs/notebooks/Perform_Regionalization.ipynb
  docs/notebooks/Running_HMETS_with_CANOPEX_dataset.ipynb
  docs/notebooks/Sensitivity_analysis.ipynb
  docs/notebooks/paper/Perform_a_climate_change_impact_study_on_a_watershed.ipynb
  docs/notebooks/time_series_analysis.ipynb
Labels: docs

WIP - adjust tests to new fetch mechanics, no more tests package
  src/ravenpy/ravenpy.py
  tests/__init__.py
  tests/conftest.py
  tests/emulators.py
  tests/test_base.py
  tests/test_bias_correction.py
  tests/test_cli.py
  tests/test_commands.py
  tests/test_coords.py
  tests/test_distributed_workflow.py
  tests/test_emulators.py
  tests/test_ensemble.py
  tests/test_external_dataset_access.py
  tests/test_extractor.py
  tests/test_forecasting.py
  tests/test_geo_utilities.py
  tests/test_geoserver.py
  tests/test_graphs.py
  tests/test_hindcasting.py
  tests/test_nb_graphs.py
  tests/test_ravenpy.py
  tests/test_regionalisation.py
  tests/test_rvs.py
  tests/test_utils.py
  tox.ini
Labels: CI

test adjustments, add pooch
  environment-dev.yml
  pyproject.toml
  tests/test_commands.py
  tests/test_external_dataset_access.py
  tests/test_utils.py
Labels: none

update pre-commit, fix pydantic regression
  .github/workflows/main.yml
  .pre-commit-config.yaml
  tests/conftest.py
  tests/emulators.py
Labels: CI

rebuild dataclass
  tests/conftest.py
Labels: none

try adding caching
  .github/workflows/main.yml
Labels: CI

use proper location
  .github/workflows/main.yml
Labels: CI

add retry logic
  src/ravenpy/testing/utils.py
Labels: none

separate cache folders
  .github/workflows/main.yml
Labels: CI

explicit caching
  .github/workflows/main.yml
Labels: CI

add testdata-version.yml checker
  .github/workflows/testdata-version.yml
Labels: CI

prefetch testing data, better caching
  .github/workflows/main.yml
Labels: CI

move caching to tox
  .github/workflows/main.yml
  tox.ini
Labels: CI

add prefetch
  .github/workflows/main.yml
Labels: CI

avoid race condition when downloading registry.txt
  src/ravenpy/testing/utils.py
Labels: none

handle case where raven binary is installed via conda and test is run using tox
  tests/test_missing.py
  tox.ini
Labels: CI

audit coveralls connection
  .github/workflows/main.yml
Labels: CI

support force_download option and use locking more
  src/ravenpy/testing/utils.py
  tests/test_external_dataset_access.py
Labels: none

quotation marks
  tox.ini
Labels: CI

typo fix
  tox.ini
Labels: CI

egress policy audit
  .github/workflows/main.yml
Labels: CI

update CHANGELOG.rst, fix some typos and remove unneeded imports
  CHANGELOG.rst
  tests/conftest.py
  tox.ini
Labels: CI

use new raven-testdata tag, adjust registry.txt, adjust test expecatations
  .github/workflows/main.yml
  CHANGELOG.rst
  pyproject.toml
  src/ravenpy/testing/registry.txt
  src/ravenpy/testing/utils.py
  tests/test_external_dataset_access.py
Labels: CI

update notebooks to be more user friendly, add missing registry entries, remove explicit platformdirs installation
  docs/notebooks/02_Extract_geographical_watershed_properties.ipynb
  docs/notebooks/03_Extracting_forcing_data.ipynb
  docs/notebooks/04_Emulating_hydrological_models.ipynb
  docs/notebooks/05_Advanced_RavenPy_configuration.ipynb
  docs/notebooks/06_Raven_calibration.ipynb
  docs/notebooks/07_Making_and_using_hotstart_files.ipynb
  docs/notebooks/08_Getting_and_bias_correcting_CMIP6_data.ipynb
  docs/notebooks/09_Hydrological_impacts_of_climate_change.ipynb
  docs/notebooks/10_Data_assimilation.ipynb
  docs/notebooks/11_Climatological_ESP_forecasting.ipynb
  docs/notebooks/12_Performing_hindcasting_experiments.ipynb
  docs/notebooks/Assess_probabilistic_flood_risk.ipynb
  docs/notebooks/Comparing_hindcasts_and_ESP_forecasts.ipynb
  docs/notebooks/Distributed_hydrological_modelling.ipynb
  docs/notebooks/Hydrological_realtime_forecasting.ipynb
  docs/notebooks/Perform_Regionalization.ipynb
  docs/notebooks/Running_HMETS_with_CANOPEX_dataset.ipynb
  docs/notebooks/Sensitivity_analysis.ipynb
  docs/notebooks/time_series_analysis.ipynb
  environment-dev.yml
  pyproject.toml
  src/ravenpy/testing/registry.txt
Labels: docs

use regex, hide yangtze_kwargs
  src/ravenpy/testing/utils.py
  tests/conftest.py
Labels: none

move convert functions, fix test
  src/ravenpy/testing/helpers.py
  tests/conftest.py
  tests/test_external_dataset_access.py
Labels: none

use get_file
  CHANGELOG.rst
  docs/notebooks/02_Extract_geographical_watershed_properties.ipynb
  docs/notebooks/03_Extracting_forcing_data.ipynb
  docs/notebooks/04_Emulating_hydrological_models.ipynb
  docs/notebooks/05_Advanced_RavenPy_configuration.ipynb
  docs/notebooks/06_Raven_calibration.ipynb
  docs/notebooks/07_Making_and_using_hotstart_files.ipynb
  docs/notebooks/08_Getting_and_bias_correcting_CMIP6_data.ipynb
  docs/notebooks/09_Hydrological_impacts_of_climate_change.ipynb
  docs/notebooks/10_Data_assimilation.ipynb
  docs/notebooks/11_Climatological_ESP_forecasting.ipynb
  docs/notebooks/12_Performing_hindcasting_experiments.ipynb
  docs/notebooks/Assess_probabilistic_flood_risk.ipynb
  docs/notebooks/Comparing_hindcasts_and_ESP_forecasts.ipynb
  docs/notebooks/Distributed_hydrological_modelling.ipynb
  docs/notebooks/Hydrological_realtime_forecasting.ipynb
  docs/notebooks/Perform_Regionalization.ipynb
  docs/notebooks/Running_HMETS_with_CANOPEX_dataset.ipynb
  docs/notebooks/Sensitivity_analysis.ipynb
  docs/notebooks/time_series_analysis.ipynb
  src/ravenpy/testing/utils.py
Labels: docs

pin scipy for statsmodels
  CHANGELOG.rst
  environment-dev.yml
  pyproject.toml
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

audit connections
  .github/workflows/cache-cleaner.yml
Labels: CI

Bump version: 0.18.3-dev.3 → 0.19.0-dev.0
  .cruft.json
  pyproject.toml
  src/ravenpy/__init__.py
  tests/test_ravenpy.py
Labels: none

Bump version: 0.19.0-dev.0 → 0.19.0
  .cruft.json
  pyproject.toml
  src/ravenpy/__init__.py
  tests/test_ravenpy.py
Labels: none

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.

# Uncomment the following lines to enable the labeler (requires labels with the same name to exist in the repository)

# label 'ci' all automation-related steps and files
'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.pre-commit-config.yaml'
      - '.readthedocs.yml'
      - '.yamllint.yml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'tox.ini'
      - 'CI/**/*'
      - 'Makefile'
# label 'docs' all documentation-related steps and files
'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - '.zenodo.json'
      - 'docs/**/*'
      - 'environment-docs.yml'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'CODE_OF_CONDUCT.md'
      - 'DISCUSSION_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'
