Repository CSHS-CWRA/RavenPy, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.

# Uncomment the following lines to enable the labeler (requires labels with the same name to exist in the repository)

# label 'ci' all automation-related steps and files
'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.pre-commit-config.yaml'
      - '.readthedocs.yml'
      - '.yamllint.yml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'tox.ini'
      - 'CI/**/*'
      - 'Makefile'
# label 'docs' all documentation-related steps and files
'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - '.zenodo.json'
      - 'docs/**/*'
      - 'environment-docs.yml'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'CODE_OF_CONDUCT.md'
      - 'DISCUSSION_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'

use explicit chunking configuration
  docs/notebooks/03_Extracting_forcing_data.ipynb
Labels: docs

update cookiecutter, replace codeql.yml logic, add vulture and zizor hooks
  .cruft.json
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/scorecard.yml
  .github/workflows/tag-testpypi.yml
  .pre-commit-config.yaml
  .zizmor.yml
  docs/conf.py
  pyproject.toml
  tests/test_ravenpy.py
Labels: CI, docs

address dead code issues
  src/ravenpy/utilities/calibration.py
  src/ravenpy/utilities/coords.py
  src/ravenpy/utilities/geo.py
  src/ravenpy/utilities/geoserver.py
  src/ravenpy/utilities/regionalization.py
  tests/test_calibration.py
  tests/test_emulators.py
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

update release date
  CHANGELOG.rst
Labels: none

Bump version: 0.16.2-dev.6 → 0.17.0-dev.0
  .cruft.json
  pyproject.toml
  src/ravenpy/__init__.py
  tests/test_ravenpy.py
Labels: none

Bump version: 0.17.0-dev.0 → 0.17.0
  .cruft.json
  pyproject.toml
  src/ravenpy/__init__.py
  tests/test_ravenpy.py
Labels: none

limit python version
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
Labels: CI

update cookiecutter template
  .cruft.json
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/scorecard.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/workflow-warning.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  CI/requirements_ci.in
  CI/requirements_ci.txt
  README.rst
  environment-dev.yml
  environment-docs.yml
  pyproject.toml
  tox.ini
Labels: CI, docs

spelling corrections and removal of type: ignore
  docs/notebooks/00_Introduction_to_JupyterLab.ipynb
  docs/notebooks/01_Getting_watershed_boundaries.ipynb
  docs/notebooks/02_Extract_geographical_watershed_properties.ipynb
  docs/notebooks/03_Extracting_forcing_data.ipynb
  docs/notebooks/04_Emulating_hydrological_models.ipynb
  docs/notebooks/06_Raven_calibration.ipynb
  docs/notebooks/08_Getting_and_bias_correcting_CMIP6_data.ipynb
  docs/notebooks/10_Data_assimilation.ipynb
  docs/notebooks/Comparing_hindcasts_and_ESP_forecasts.ipynb
  docs/notebooks/HydroShare_integration.ipynb
  docs/notebooks/Hydrological_realtime_forecasting.ipynb
  pyproject.toml
  src/ravenpy/cli/aggregate_forcings_to_hrus.py
  src/ravenpy/config/commands.py
  src/ravenpy/config/conventions.py
  src/ravenpy/config/parsers.py
Labels: docs

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

Add parent Record class to _MonthlyRecord to fix autodoc error
  CHANGELOG.rst
  docs/conf.py
  src/ravenpy/config/commands.py
Labels: docs

added autodoc-pydantic to doc env
  environment-docs.yml
Labels: docs

Update docs/conf.py
  docs/conf.py
Labels: docs

update to raven-hydro 0.4.0, update deps
  .pre-commit-config.yaml
  environment-dev.yml
  environment-docs.yml
  pyproject.toml
Labels: CI, docs

add pylint
  environment-dev.yml
Labels: none

make docs with custom index
  tox.ini
Labels: CI

update xclim and other dependencies
  environment-dev.yml
  environment-docs.yml
  pyproject.toml
Labels: docs

disable HydroShare_integration.ipynb because not working anymore
  docs/notebooks-notworking/HydroShare_integration.ipynb
Labels: docs

docs: add new notebooks-notworking/ to exclude_patterns
  docs/conf.py
Labels: docs

mark non-raven test as skipped
  tests/test_bias_correction.py
Labels: none

Avoid deprecated `use_cftime`
  src/ravenpy/utilities/forecasting.py
Labels: none

docs: remove notebooks/HydroShare_integration.ipynb from exclude_patterns
  docs/conf.py
Labels: docs

update deps
  pyproject.toml
Labels: none

downgrade autodoc-pydantic
  environment-docs.yml
  pyproject.toml
Labels: docs

adjust precision
  tests/test_geo_utilities.py
Labels: none

Add me as contributor
  AUTHORS.rst
Labels: docs

try rebuilding netcdf4 from pypi
  Makefile
  environment-docs.yml
  pyproject.toml
  tox.ini
Labels: CI, docs

allow newer numpy
  environment-dev.yml
  environment-docs.yml
  pyproject.toml
  tox.ini
Labels: CI, docs

add python3.13 and macOS builds
  .github/workflows/main.yml
  tox.ini
Labels: CI

disable conda-gcc, simplify tox call
  .github/workflows/main.yml
  environment-dev.yml
Labels: CI

remove coveralls package
  .github/workflows/main.yml
  environment-dev.yml
Labels: CI

fix coverage call, test spotpy models
  .github/workflows/main.yml
  tests/test_calibration.py
Labels: CI

elif, not elseif for bash
  .github/workflows/main.yml
Labels: CI

fix coverage
  pyproject.toml
  tox.ini
Labels: CI

mark xfail spotpy tests
  tests/test_calibration.py
Labels: none

refactor remote access tests, mark strict=false
  tests/test_external_dataset_access.py
  tests/test_testdata.py
Labels: none

use lcov format, remove unneeded imports
  .github/workflows/main.yml
  .gitignore
  pyproject.toml
  tests/test_commands.py
  tests/test_coords.py
  tests/test_geoserver.py
  tests/test_parsers.py
Labels: CI

skip failing test on macOS/PyPI
  tests/test_geoserver.py
Labels: none

skipif
  tests/test_geoserver.py
Labels: none
