Repository CSHS-CWRA/RavenPy, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs

do not upgrade conventions until pydantic supports them
  .pre-commit-config.yaml
Labels: CI

revert ruff conventions, update hooks
  .pre-commit-config.yaml
  pyproject.toml
Labels: CI

set base pymbolic version
  environment-dev.yml
  pyproject.toml
  src/ravenpy/config/base.py
  src/ravenpy/config/emulators/hbvec.py
Labels: none

fix URL
  CONTRIBUTING.rst
Labels: docs

Bump version: 0.16.1-dev.2 → 0.16.1
  .cruft.json
  pyproject.toml
  src/ravenpy/__init__.py
  tests/test_ravenpy.py
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

update allowed connections
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
Labels: CI

update cookiecutter
  .cruft.json
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/dependency-review.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/scorecard.yml
  .github/workflows/tag-testpypi.yml
  .pre-commit-config.yaml
  CI/requirements_ci.txt
  environment-dev.yml
  pyproject.toml
  tox.ini
Labels: CI

do not set ruff to use Python3.10 conventions
  pyproject.toml
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

add temporary RavenPy logos
  logos/ravenpy_logo_temporary.png
  logos/ravenpy_logo_temporary_small.png
Labels: none

add geotiff versions
  logos/ravenpy_logo_temporary.tiff
Labels: none

fix matplotlib call
  CHANGELOG.rst
  src/ravenpy/utilities/graphs.py
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

fix call
  src/ravenpy/utilities/graphs.py
  tests/test_graphs.py
Labels: none

Add new logo versions
  logos/ravenpy_logo_temporary.png
  logos/ravenpy_logo_temporary.tiff
  logos/ravenpy_logo_temporary_small.png
Labels: none

With correct resolutions
  logos/ravenpy_logo_temporary.png
  logos/ravenpy_logo_temporary_small.png
Labels: none

crop logos, add logo to README.rst, remove old logo, adjust sphinx-codeautolink, fix imports
  README.rst
  docs/RavenPy.png
  docs/_static/_images/logos/ravenpy-logo-small.png
  docs/_static/_images/logos/ravenpy-logo.png
  docs/conf.py
  docs/notebooks/04_Emulating_hydrological_models.ipynb
  docs/notebooks/05_Advanced_RavenPy_configuration.ipynb
  docs/notebooks/06_Raven_calibration.ipynb
  docs/user_api.rst
  environment-rtd.yml
  logos/ravenpy_logo_temporary.png
  logos/ravenpy_logo_temporary_small.png
  pyproject.toml
  src/ravenpy/config/emulators/__init__.py
Labels: docs

update docs to use cleaner imports, typo fixes, fix a few imports in library
  docs/notebooks/04_Emulating_hydrological_models.ipynb
  docs/notebooks/07_Making_and_using_hotstart_files.ipynb
  docs/notebooks/09_Hydrological_impacts_of_climate_change.ipynb
  docs/notebooks/10_Data_assimilation.ipynb
  docs/notebooks/11_Climatological_ESP_forecasting.ipynb
  docs/notebooks/12_Performing_hindcasting_experiments.ipynb
  docs/notebooks/Assess_probabilistic_flood_risk.ipynb
  docs/notebooks/Comparing_hindcasts_and_ESP_forecasts.ipynb
  docs/notebooks/Distributed_hydrological_modelling.ipynb
  docs/notebooks/Hydrological_realtime_forecasting.ipynb
  docs/notebooks/Perform_Regionalization.ipynb
  docs/notebooks/Running_HMETS_with_CANOPEX_dataset.ipynb
  docs/notebooks/Sensitivity_analysis.ipynb
  docs/outputs.md
  docs/usage.md
  src/ravenpy/extractors/__init__.py
  src/ravenpy/extractors/forecasts.py
Labels: docs

use newer python and update image and mamba versions
  .readthedocs.yml
  environment-rtd.yml
Labels: CI, docs

pin pygments temporarily
  environment-rtd.yml
  pyproject.toml
Labels: none

Apply suggestions from code review
  src/ravenpy/utilities/graphs.py
Labels: none

pin pygments temporarily
  environment-rtd.yml
  pyproject.toml
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

temporary fix for sphinx-codeautolink
  .readthedocs.yml
  environment-docs.yml
  pyproject.toml
Labels: CI, docs

[DO NOT MERGE] Add proposed temporary RavenPy logos (#428)
  .readthedocs.yml
  CHANGELOG.rst
  README.rst
  docs/RavenPy.png
  docs/_static/_images/logos/ravenpy-logo-small.png
  docs/_static/_images/logos/ravenpy-logo.png
  docs/conf.py
  docs/notebooks/04_Emulating_hydrological_models.ipynb
  docs/notebooks/05_Advanced_RavenPy_configuration.ipynb
  docs/notebooks/06_Raven_calibration.ipynb
  docs/user_api.rst
  environment-docs.yml
  pyproject.toml
  src/ravenpy/config/emulators/__init__.py
Labels: CI, docs

fix logo location in README.rst
  README.rst
Labels: docs

fix bad import, use ubuntu-lts-latest in docs
  .readthedocs.yml
  src/ravenpy/extractors/forecasts.py
Labels: CI, docs

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

Documentation adjustments (#436)
  .readthedocs.yml
  CHANGELOG.rst
  README.rst
  docs/notebooks/04_Emulating_hydrological_models.ipynb
  docs/notebooks/07_Making_and_using_hotstart_files.ipynb
  docs/notebooks/09_Hydrological_impacts_of_climate_change.ipynb
  docs/notebooks/10_Data_assimilation.ipynb
  docs/notebooks/11_Climatological_ESP_forecasting.ipynb
  docs/notebooks/12_Performing_hindcasting_experiments.ipynb
  docs/notebooks/Assess_probabilistic_flood_risk.ipynb
  docs/notebooks/Comparing_hindcasts_and_ESP_forecasts.ipynb
  docs/notebooks/Distributed_hydrological_modelling.ipynb
  docs/notebooks/Hydrological_realtime_forecasting.ipynb
  docs/notebooks/Perform_Regionalization.ipynb
  docs/notebooks/Running_HMETS_with_CANOPEX_dataset.ipynb
  docs/notebooks/Sensitivity_analysis.ipynb
  docs/outputs.md
  docs/usage.md
  environment-docs.yml
  src/ravenpy/extractors/__init__.py
  src/ravenpy/extractors/forecasts.py
Labels: CI, docs

Do not attempt to represent models due to non-serializable errors
  src/ravenpy/config/emulators/__init__.py
Labels: none

synchronize dependencies
  environment-docs.yml
  pyproject.toml
Labels: docs

unpin intake
  environment-docs.yml
  pyproject.toml
Labels: docs

Create SECURITY.md
  SECURITY.md
Labels: none

add pin for zarr
  environment-dev.yml
  environment-docs.yml
  pyproject.toml
Labels: docs

pin intake
  environment-docs.yml
  pyproject.toml
Labels: docs

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

disable PDF generation
  .readthedocs.yml
Labels: CI, docs

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.

# Uncomment the following lines to enable the labeler (requires labels with the same name to exist in the repository)

# label 'ci' all automation-related steps and files
'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.pre-commit-config.yaml'
      - '.readthedocs.yml'
      - '.yamllint.yml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'tox.ini'
      - 'CI/**/*'
      - 'Makefile'
# label 'docs' all documentation-related steps and files
'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - '.zenodo.json'
      - 'docs/**/*'
      - 'environment-docs.yml'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'CODE_OF_CONDUCT.md'
      - 'DISCUSSION_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'
