Repository CSHS-CWRA/RavenPy, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs

remove xfail note
  tests/test_geoserver.py
Labels: none

remove conda defaults
  environment-docs.yml
Labels: docs

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

Bump version: 0.17.1-dev.3 → 0.18.0-dev.0
  .cruft.json
  pyproject.toml
  src/ravenpy/__init__.py
  tests/test_ravenpy.py
Labels: none

Bump version: 0.18.0-dev.0 → 0.18.0
  .cruft.json
  pyproject.toml
  src/ravenpy/__init__.py
  tests/test_ravenpy.py
Labels: none

fix notebook
  docs/notebooks/Comparing_hindcasts_and_ESP_forecasts.ipynb
Labels: docs

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

add OpenSSF Best Practices Badge (WIP)
  README.rst
Labels: docs

address usage warnings
  src/ravenpy/config/rvs.py
  src/ravenpy/extractors/routing_product.py
  src/ravenpy/utilities/analysis.py
  src/ravenpy/utilities/forecasting.py
  tests/test_forecasting.py
  tests/test_geoserver.py
Labels: none

handle str dates
  src/ravenpy/config/rvs.py
Labels: none

use raven_hydro.__raven_version__
  src/ravenpy/config/defaults.py
  src/ravenpy/config/rvs.py
Labels: none

fix typing
  src/ravenpy/config/rvs.py
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

fix dataclasses check, update year
  src/ravenpy/config/defaults.py
  src/ravenpy/config/rvs.py
Labels: none

no write to local disk
  docs/notebooks/00_Introduction_to_JupyterLab.ipynb
  docs/notebooks/02_Extract_geographical_watershed_properties.ipynb
Labels: docs

remove xfail
  tests/test_calibration.py
Labels: none

revert datetime import
  tests/test_forecasting.py
Labels: none

add exceptiongroup backport
  CI/requirements_ci.in
  CI/requirements_ci.txt
Labels: CI

add tomli backport
  CI/requirements_ci.in
  CI/requirements_ci.txt
Labels: CI

added new eval metrics and state variables
  src/ravenpy/config/options.py
Labels: none

fix missing comma
  src/ravenpy/config/options.py
Labels: none

update Blended model expected output
  tests/test_emulators.py
Labels: none

add more eval methods to existing tests
  tests/test_commands.py
  tests/test_emulators.py
Labels: none

sort enums for legibility
  src/ravenpy/config/options.py
Labels: none

fix typing
  src/ravenpy/config/commands.py
  tests/emulators.py
  tests/test_emulators.py
Labels: none

fix typing
  src/ravenpy/config/commands.py
Labels: none

address stability issues
  src/ravenpy/utilities/forecasting.py
  src/ravenpy/utilities/graphs.py
  src/ravenpy/utilities/regionalization.py
Labels: none

fix call signatures, docstrings, type inferences
  AUTHORS.rst
  README.rst
  docs/conf.py
  src/ravenpy/__init__.py
  src/ravenpy/cli/aggregate_forcings_to_hrus.py
  src/ravenpy/config/base.py
  src/ravenpy/config/defaults.py
  src/ravenpy/config/emulators/gr4jcn.py
  src/ravenpy/config/parsers.py
  src/ravenpy/config/utils.py
  src/ravenpy/extractors/routing_product.py
  src/ravenpy/utilities/analysis.py
  src/ravenpy/utilities/calibration.py
  src/ravenpy/utilities/checks.py
  src/ravenpy/utilities/coords.py
  src/ravenpy/utilities/geo.py
  src/ravenpy/utilities/geoserver.py
  src/ravenpy/utilities/io.py
  src/ravenpy/utilities/mk_test.py
  src/ravenpy/utilities/regionalization.py
Labels: docs

add missing union
  src/ravenpy/utilities/coords.py
Labels: none

update description, mark note about Python3.13 limitations
  README.rst
  environment-dev.yml
  pyproject.toml
  src/ravenpy/__init__.py
Labels: docs

revert pydantic behaviour-affecting changes
  src/ravenpy/config/commands.py
Labels: none

update copyright year to 2025 in __init__.py and LICENSE
  LICENSE
  src/ravenpy/__init__.py
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

use term "coverage", set allowed endpoints for Finish step
  .github/workflows/main.yml
  tox.ini
Labels: CI

update release date
  CHANGELOG.rst
Labels: none

fix Perform_Regionalization.ipynb, update deps
  docs/notebooks/Perform_Regionalization.ipynb
  environment-docs.yml
  src/ravenpy/utilities/regionalization.py
Labels: docs

adjust translation-generating code
  Makefile
Labels: CI

WIP - notebook adjustments
  docs/notebooks/paper/Perform_a_climate_change_impact_study_on_a_watershed.ipynb
Labels: docs

bump xclim to deal with block bug, finalize notebook changes
  docs/notebooks/paper/Perform_a_climate_change_impact_study_on_a_watershed.ipynb
  environment-dev.yml
  pyproject.toml
Labels: docs

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.

# Uncomment the following lines to enable the labeler (requires labels with the same name to exist in the repository)

# label 'ci' all automation-related steps and files
'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.pre-commit-config.yaml'
      - '.readthedocs.yml'
      - '.yamllint.yml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'tox.ini'
      - 'CI/**/*'
      - 'Makefile'
# label 'docs' all documentation-related steps and files
'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - '.zenodo.json'
      - 'docs/**/*'
      - 'environment-docs.yml'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'CODE_OF_CONDUCT.md'
      - 'DISCUSSION_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'
