Repository CSHS-CWRA/RavenPy, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs

move raven_hydro/raven model management to __init__.py
  src/ravenpy/__init__.py
  src/ravenpy/config/defaults.py
  src/ravenpy/config/rvs.py
  src/ravenpy/ravenpy.py
Labels: none

add test using monkeypatch for testing missing raven-hydro behaviour
  tests/test_missing.py
Labels: none

make raven-hydro installation optional
  pyproject.toml
Labels: none

innocuous fix
  tests/test_utils.py
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

update dependencies
  pyproject.toml
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

move raven-hydro handling to hidden module
  src/ravenpy/__init__.py
  src/ravenpy/_raven.py
  tests/test_missing.py
Labels: none

pin pydap temporarily
  CHANGELOG.rst
  environment-dev.yml
  pyproject.toml
Labels: none

add raven-hydro to `tox` config, update installation.rst
  docs/installation.rst
  tox.ini
Labels: CI, docs

update pydantic to 2.11+, address DeprecationWarnings
  environment-dev.yml
  environment-docs.yml
  pyproject.toml
  src/ravenpy/config/base.py
  tests/test_rvs.py
Labels: docs

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

fix imports
  src/ravenpy/config/rvs.py
Labels: none

undo sphinx update
  CHANGELOG.rst
  environment-docs.yml
  pyproject.toml
Labels: docs

Bump version: 0.18.1-dev.1 → 0.18.1
  .cruft.json
  pyproject.toml
  src/ravenpy/__init__.py
  tests/test_ravenpy.py
Labels: none

Add :Recharge process. Add `parse` methods for :Reservoir, :HRUs, :SubBasins, :ChannelProfile
  src/ravenpy/config/base.py
  src/ravenpy/config/commands.py
  src/ravenpy/config/processes.py
  tests/conftest.py
  tests/test_commands.py
Labels: none

Added RelativeHumidityMethod to RVI config
  src/ravenpy/config/rvs.py
Labels: none

updated changelog
  CHANGELOG.rst
Labels: none

Bump version: 0.18.2-dev.0 → 0.18.2
  .cruft.json
  pyproject.toml
  src/ravenpy/__init__.py
  tests/test_ravenpy.py
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

add check to make sure HRU sum to 1. Tweak to the GridWeight extractor to support data from CLRH. When parsing HRUs, return dict instead of an instance, so users can subclass HRUs
  src/ravenpy/config/commands.py
  src/ravenpy/extractors/routing_product.py
Labels: none

update changelog
  CHANGELOG.rst
  src/ravenpy/extractors/routing_product.py
Labels: none

added tests for the parsers. New Gridweight validator exposes a problem in the extractor test.
  tests/conftest.py
  tests/test_commands.py
Labels: none

added #PR to changelog
  CHANGELOG.rst
Labels: none

oups
  tests/conftest.py
Labels: none

add RechargeMethod options. Comment gridweight data validator, as it breaks the cli test suite
  src/ravenpy/config/commands.py
  src/ravenpy/config/options.py
Labels: none

update release date
  CHANGELOG.rst
Labels: none

Set default station_idx to None for ReadFromNetCDF
  CHANGELOG.rst
  src/ravenpy/config/commands.py
  tests/conftest.py
  tests/test_commands.py
Labels: none

Update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

fix-502
  src/ravenpy/ravenpy.py
Labels: none

safer call
  src/ravenpy/ravenpy.py
Labels: none

add test
  src/ravenpy/ravenpy.py
  tests/test_emulators.py
Labels: none

upd changelog
  CHANGELOG.rst
Labels: none

author
  .zenodo.json
  AUTHORS.rst
Labels: docs

Update src/ravenpy/ravenpy.py
  src/ravenpy/ravenpy.py
Labels: none

account for modelname None
  src/ravenpy/ravenpy.py
Labels: none

migrate from xclim.sdba to xsdba
  CHANGELOG.rst
  docs/notebooks/08_Getting_and_bias_correcting_CMIP6_data.ipynb
  docs/notebooks/paper/Perform_a_climate_change_impact_study_on_a_watershed.ipynb
  environment-dev.yml
  pyproject.toml
  tests/test_bias_correction.py
Labels: docs

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

adjust GDAL version parsing
  .github/workflows/main.yml
  tox.ini
Labels: CI

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.

# Uncomment the following lines to enable the labeler (requires labels with the same name to exist in the repository)

# label 'ci' all automation-related steps and files
'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.pre-commit-config.yaml'
      - '.readthedocs.yml'
      - '.yamllint.yml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'tox.ini'
      - 'CI/**/*'
      - 'Makefile'
# label 'docs' all documentation-related steps and files
'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - '.zenodo.json'
      - 'docs/**/*'
      - 'environment-docs.yml'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'CODE_OF_CONDUCT.md'
      - 'DISCUSSION_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'
