Repository CSHS-CWRA/RavenPy, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.

# Uncomment the following lines to enable the labeler (requires labels with the same name to exist in the repository)

# label 'ci' all automation-related steps and files
'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.pre-commit-config.yaml'
      - '.readthedocs.yml'
      - '.yamllint.yml'
      - '.github/workflows/*'
      - 'docs/Makefile'
      - 'tox.ini'
      - 'CI/**/*'
      - 'Makefile'
# label 'docs' all documentation-related steps and files
'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - '.zenodo.json'
      - 'docs/**/*'
      - 'environment-docs.yml'
      - 'AUTHORS.rst'
      - 'CONTRIBUTING.rst'
      - 'CODE_OF_CONDUCT.md'
      - 'DISCUSSION_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE/**/*'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'

update release date
  CHANGELOG.rst
Labels: none

Update notebooks to new RavenPy conventions, add missing entries to registry.txt
  docs/notebooks/05_Advanced_RavenPy_configuration.ipynb
  docs/notebooks/09_Hydrological_impacts_of_climate_change.ipynb
  docs/notebooks/12_Performing_hindcasting_experiments.ipynb
  docs/notebooks/Assess_probabilistic_flood_risk.ipynb
  docs/notebooks/Comparing_hindcasts_and_ESP_forecasts.ipynb
  docs/notebooks/Hydrological_realtime_forecasting.ipynb
  docs/notebooks/Running_HMETS_with_CANOPEX_dataset.ipynb
  docs/notebooks/paper/Perform_a_climate_change_impact_study_on_a_watershed.ipynb
  docs/notebooks/time_series_analysis.ipynb
  src/ravenpy/testing/registry.txt
Labels: docs

remove unnecessary import
  tests/test_bias_correction.py
Labels: none

update bumpversion trigger
  .github/workflows/bump-version.yml
Labels: CI

unpin scipy
  environment-dev.yml
  pyproject.toml
Labels: none

drop black over notebooks
  .pre-commit-config.yaml
Labels: CI

remove more mentions of black
  CONTRIBUTING.rst
Labels: docs

final touches
  src/ravenpy/testing/utils.py
Labels: none

values not keys
  tests/test_defaults.py
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

allow-list workflow connections
  .github/workflows/cache-cleaner.yml
Labels: CI

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

Update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

Bump version: 0.19.1-dev.1 → 0.19.1
  .cruft.json
  CHANGELOG.rst
  pyproject.toml
  src/ravenpy/__init__.py
  tests/test_ravenpy.py
Labels: none

update and synchronize dependencies
  environment-docs.yml
  pyproject.toml
Labels: docs

infer dimension ordering within nc_specs using cf-xarray
  src/ravenpy/config/commands.py
  src/ravenpy/config/utils.py
  tests/test_utils.py
Labels: none

Update CHANGELOG
  CHANGELOG.rst
Labels: none

shorten notebook example
  docs/notebooks/paper/Perform_a_climate_change_impact_study_on_a_watershed.ipynb
Labels: docs

fix broken test
  tests/test_utils.py
Labels: none

remove test cell
  docs/notebooks/paper/Perform_a_climate_change_impact_study_on_a_watershed.ipynb
Labels: docs

add missing dependencies for fsspec and xarray with h5netcdf backend, pin blackdoc higher
  environment-dev.yml
  pyproject.toml
Labels: none

use pydap as remote fetch engine by default
  pyproject.toml
  src/ravenpy/extractors/forecasts.py
Labels: none

change engine
  src/ravenpy/extractors/forecasts.py
Labels: none

update documentation surrounding example
  docs/notebooks/paper/Perform_a_climate_change_impact_study_on_a_watershed.ipynb
Labels: docs

update documentation surrounding example
  docs/notebooks/paper/Perform_a_climate_change_impact_study_on_a_watershed.ipynb
Labels: docs

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

Add the GaugedSubBasinGroup command to the RVH class
  src/ravenpy/config/rvs.py
Labels: none

Make the Reservoir parser more robust to missing optional fields.
  src/ravenpy/config/commands.py
Labels: none

update CHANGELOG
  CHANGELOG.rst
Labels: none

update changelog
  CHANGELOG.rst
Labels: none

update changelog
  CHANGELOG.rst
Labels: none

fast-forward cookiecutter, add CITATION.cff
  .cruft.json
  .pre-commit-config.yaml
  CI/requirements_ci.in
  CITATION.cff
  CODE_OF_CONDUCT.md
  CONTRIBUTING.rst
  Makefile
  environment-dev.yml
  environment-docs.yml
  pyproject.toml
  tox.ini
Labels: CI, docs

pin pydantic, synchronize click
  environment-dev.yml
  environment-docs.yml
  pyproject.toml
Labels: docs

update version in CITATION.cff
  pyproject.toml
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: none

Add DOI
  CITATION.cff
  README.rst
  pyproject.toml
Labels: docs

Update CHANGELOG.rst
  CHANGELOG.rst
Labels: none
