Repository CSHS-CWRA/RavenPy, pull requests merged in 2022-10, with the labels that each got.

#203 Address failing documentation builds
  .readthedocs.yml
  HISTORY.rst
  MANIFEST.in
  Makefile
  README.rst
  docs/conf.py
  docs/index.rst
  docs/modules.rst
  docs/ravenpy.cli.rst
  docs/ravenpy.config.rst
  docs/ravenpy.extractors.rst
  docs/ravenpy.models.emulators.rst
  docs/ravenpy.models.rst
  docs/ravenpy.rst
  docs/ravenpy.utilities.rst
  docs/readme.rst
  environment-rtd.yml
Labels: bug, documentation

#206 undo suppress_output changes from 0.8.0, as it breaks raven-wps
  HISTORY.rst
  README.rst
  environment.yml
  ravenpy/config/rvs.py
  ravenpy/models/base.py
  ravenpy/utilities/calibration.py
  setup.py
Labels: bug

#213 Docs hotfix
  .readthedocs.yml
  HISTORY.rst
Labels: documentation
